* {
    box-sizing: border-box;
}

.chatBot {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 12px 24px 0px;
    margin-left: 6px;
    border-radius: 6px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}


.chatBot__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background: rgb(245, 248, 251);
    padding: 10px;
}

.chatBot__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chatBot.hide {
    height: 50px !important;
    width: 170px !important;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 12px 24px 0px;
}

.hide .chatBot__header {
    background: rgb(245, 248, 251);
    border-radius: 6px;
    width: 170px;
}


@media (max-width: 1620px) {
    .chatBot {
        width: 400px !important;
        height: 600px !important;
    }
}

@media (max-width: 1366px) {
    .chatBot {
        width: 400px !important;
        height: 500px !important;
    }
}

@media (max-width: 720px) {
    .chatBot {
        width: 450px !important;
        height: 450px !important;
    }

    .messageRow span, .macros {
        padding: 6px !important;
        font-size: 13px !important;
    }
}

@media (max-width: 440px) {
    .chatBot {
        width: 90% !important;
        height: 300 !important;
        margin: 15px;
    }
}
