.macrosList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 4px;
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
}

.macros {

    padding: 4px 10px;
    cursor: pointer;
    border-radius: 14px;
    background: rgba(255, 70, 70, 0.767);
    margin-right: 6px;
    color: rgb(255, 255, 255);
    transition: .4s;
    animation: show 1s;
    font-size: 13px;
    margin-bottom: 5px;

}

.macros:hover {
    background: rgba(85, 128, 235, 1);
    color: white;
}

@keyframes show {
    0% {
        transform: translateX(-900px);

    }


    100% {
        transform: translateX(0px);

    }
}