
.chatBot__header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-shrink: 0;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.header__section {
    display: flex;
    align-items: center;
}

.header__section span {
    margin-left: 8px;
    font-size: 16px;
    color: #557feb;
}

.header__botavatar {
    width: 35px;
    height: 35px;
    padding: 4px;
    background: rgba(255, 70, 70, 0.767);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__botavatar img {
    width: 90%;
    height: 90%;
}

.btnwrapper {
    display: flex;
}

.btnwrapper i:not(:first-child) {
    margin-left: 14px;
}

.hide, .full {
        width: 25px;
        height: 25px;
        display: block;
        flex-shrink: 0;
        cursor: pointer;

}

.hide {
    border-bottom: 3px solid rgba(85, 128, 235, 0.788);
    border-radius: 1px;

}

.full {
    border: 2px solid rgba(85, 128, 235, 0.788);
    border-radius: 6px;
}

.hide.active,  .hide:hover{
    border-bottom: 3px solid rgba(255, 70, 70, 0.767);
}

.full.active, .full:hover {
    border: 2px solid rgba(255, 70, 70, 0.767);
}