.app {
  display: flex;
  align-items: flex-end;
  width: 100%;
  min-height: 100vh;
  justify-content: space-between;
}

@media (max-width: 900px) {

  .bookUl {
      flex-wrap: wrap;
  }

  .bookUl li {
      width: 100%;
  }

  .wrapper__inh {
      border-top-right-radius: 0px !important;
  }

  .main, li, p, .titleNews {
      font-size: 15px !important;
  }

  .newsAvatar {
    width: 300px;
    height: 200px;
  }

  .forecast {
    padding: 15px 30px 15px 30px;
  }

  .app {
    flex-direction: column;
    justify-content: flex-end;
  }
}
